
header:hover{
    font-size:xx-large;
}
h1,h2{
    border-radius: 5px;
    text-align: center;
    background-color: rgb(236, 208, 165);
    color: rgb(114, 11, 11);
    margin-bottom: 10px;
    padding: 10px;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Epilogue', sans-serif;
}
#p1{  
    text-align: center;
    background-color: rgb(236, 208, 165);
    color: rgb(114, 11, 11);
    margin-top: 0%;
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 10px;
    padding: 10px;

}
#p11{  
    text-align: center;
    background-color: rgb(236, 208, 165);
    color: rgb(114, 11, 11);
    margin-top: 0%;
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: underline;
    display: inline-block;
    margin-left: 650px;
    border-radius: 5px;
}

article{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(236, 208, 165);
    color: rgb(114, 11, 11);
    padding: 10px;
    float: right;
    border-radius: 5px;


}
a{  clear: both;
    text-decoration: none;
    color: rgb(114, 11, 11);
}
#p2:hover{
    
    font-size: xx-large;
}
a:hover{
    color: black;
    text-decoration: underline;
}
#salmon{
   width: 70%;

}
#p2,#p3{
    color: rgb(114, 11, 11);
    text-align: center;
    margin-top: 40px;
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(236, 208, 165);
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#fam{ 
    padding: 10px;
    background-color:  rgb(114, 11, 11);
    border-radius: 5px;
    width: 1470px;
}
#chi1{ 
     background-color: rgb(114, 11, 11);
       inline-size: 350px;
          
        }
#chi{
    float: left;
    text-align: center;
    border-radius: 1px;
    margin: 15px;
    color:  rgb(114, 11, 11);
    position: relative;
    font-size: x-large;
    font-weight: bolder;
    size: 50px;
    padding: 5px;
    background-color: wheat;
    
    
}
#cut1,.s1{
    clear: both;
    height: 110px;
    width: 200px;
    margin-top: 5px;
}
#cut,.s{
    
    background-color: rgb(114, 11, 11);
    float: left;
    text-align: center;
    border-radius: 1px;
    margin: 40px;
    color: wheat;
    position: relative;
    font-size: large;
    
}
h2{clear: both;
padding: 20px;
font-weight: bold;}
#T{
    margin: 15px;
  margin-left: 550px;
 padding: 5px;
 background-color: rgb(114, 11, 11);

}

