h1
{  
    color: rgb(87, 4, 4);
    text-align: center;
    background-color: white;
    border-radius: 5px;
    font-size: xx-large;
    margin-bottom: 50px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

table{
    margin-top: 120px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
    font-size: large;
    margin-left: 180px;
    color:  rgb(87, 4, 4);
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;

}
table td{

    padding: 15px;
}
table th {
    font-size: large;
    
}
table, th, td {
    border: 1px solid rgb(114, 11, 11);
  }
  body{
    background-repeat: no-repeat;
    background-image: url(https://images.creativemarket.com/0.1.0/ps/2286196/1160/774/m1/fpnw/wm1/1606_bakery-1screen-.jpg?1487247061&s=ff097fe2d02b08211d6e609827f5fa51);
    background-size: cover; 
 }
  a{
margin-top: 150px;
    float: left;
    color: white;
    font-size: x-large;
    font-weight: bolder;
  }